# Application
SPRING_PROFILES_ACTIVE=local
SERVER_PORT=8080

# Database
DB_URL=jdbc:postgresql://localhost:5432/demo_db
DB_USERNAME=postgres
DB_PASSWORD=your_password_here

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRATION_MS=86400000

# Kafka (Redpanda)
KAFKA_BOOTSTRAP_SERVERS=d7uraqie1n5c11g1m110.any.ap-south-1.mpx.prd.cloud.redpanda.com:9092
KAFKA_CONSUMER_GROUP=demo-group
KAFKA_SASL_USERNAME=mukesh-admin
KAFKA_SASL_PASSWORD=your_redpanda_password_here
KAFKA_SASL_MECHANISM=SCRAM-SHA-256
KAFKA_SECURITY_PROTOCOL=SASL_SSL
KAFKA_SASL_JAAS_CONFIG=org.apache.kafka.common.security.scram.ScramLoginModule required username="mukesh-admin" password="your_redpanda_password_here";

# SonarCloud
SONAR_ORGANIZATION=mukeshiyer237
SONAR_PROJECT_KEY=mukeshiyer237_hclh
SONAR_TOKEN=your-sonarcloud-token
